.mat-header-cell, .mat-cell {
    padding: 8px;
    text-align: left;
  }

  .mat-header-row {
    background-color: #f0f0f0;
    font-weight: bold;
  }
/* Example: Styling the button */
.cursor {
  color: rgb(33, 76, 206);
  cursor: pointer;
}
