.tree-table {
    width: 100%;
    display: block;
}

.tree-row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1fr 1fr;
    width: 100%;
    align-items: center;
    padding: 8px 0;
}
.tree-cell-name {
    display: flex;
    align-items: center;
}

.tree-cell {
    padding: 0 8px;
    white-space: nowrap;
}

button.mat-icon-button {
    margin-right: 8px;
}

.mat-tree-node {
    padding-left: 20px;
}
