div.root {
    height: 100%;
    overflow: hidden;

    .tree-header {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-weight: bold;
        padding: 6px 12px;
        border-bottom: 1px solid #d7e2ee;
    }

    .tree-table {
        width: 100%;

        .alt-row {
            background-color: #F8FBFD;
        }

        .tree-node-table {
            border-bottom: 1px solid #d7e2ee;

            .tree-row {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                padding: 8px 0;

                .tree-cell {
                    padding: 0 8px;
                    white-space: nowrap;
                }

                .tree-cell-name {
                    display: flex;
                    align-items: center;
                    color: #2681c7;
                }

                button.mat-icon-button {
                    background-color: transparent;
                }
            }
        }
    }
}