spring:
  application:
    name: dev-url-shortner
server:
  port: 8003
  servlet.context-path: /dev-url-shortner

################################################################################
# ELASTICSEARCH (Custom index settings)
################################################################################
elastic:
  index:
    private: es_private_message_index
    group: es_group_message_index
    email: email_index