<!DOCTYPE html>
<html>
    <body>
        <p>Dear [[${name}]],</p>
        <p>I hope this message finds you well. I wanted to check if there are any
            <strong>Java Backend Developer</strong> openings available at [[${company}]].
        </p>
            I have strong hands-on experience in Java, Spring Boot, and Microservices, with a focus on designing scalable, <br>
            secure, and maintainable backend systems. My work also involves RabbitMQ, gRpc OAuth, Redis, Elasticsearch, <br>
            Docker, Kubernetes, Jenkins, and Nexus, ensuring high performance and reliability in production environments.
        <p>
            If there's a suitable opportunity, I'd be glad to be considered.
            Please find my attached resume for your reference.
        </p>
        <p>Thank you for your time and consideration.</p>
        <p>Best regards,<br>
            <strong>Vinay</strong><br>
            7479856872 <br>
            <a href="https://github.com/Guyvinay">https://github.com/Guyvinay</a>
        </p>
    </body>
</html>