<!DOCTYPE html>
<html>
    <body>
        <p>Dear [[${name}]],</p>

        <p>
            I hope you are doing well. I am writing to inquire about any current or upcoming <br>
            <strong>Java Full Stack Developer</strong> opportunities at <strong>[[${company}]]</strong>.
        </p>

        <p>
            I'm a Java Full Stack Developer with 2+ years of experience working on Java, Spring Boot, Microservices, secure REST APIs, <br>
            and scalable backend systems. My tech stack also includes Spring Security (OAuth2/JWT), RabbitMQ, gRPC, PostgreSQL, <br>
            Redis, Elasticsearch, Docker, Kubernetes, Jenkins and experience in frontend framework like Angular.
        </p>

        <p>
            If there's a suitable opportunity, I'd be glad to be considered. <br>
            Please find my attached resume for your reference.
        </p>

        <p>Thank you for your time and consideration.</p>

        <p>Best regards,<br>
            <strong>Vinay</strong><br>
            7479856872 <br>
            <a href="https://github.com/Guyvinay">https://github.com/Guyvinay</a>
        </p>
    </body>
</html>