<div class="root">
  <!-- <fieldset>
  <legend>mat menu</legend>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="addConnectivity">
    Mat-menu
  </button>
  <mat-menu #addConnectivity="matMenu" class="navigation-menu" xPosition="after">
    <button mat-menu-item (click)="openNewConnectionFlow()">New system</button>
    <button mat-menu-item (click)="openTableViewSettings('add-interface')">New interface</button>
    <button mat-menu-item (click)="openTableViewSettings('add-lookup-reference')">New lookup reference</button>
  </mat-menu>
</fieldset>
<fieldset>
  <legend>Mat dialog</legend>
  <button mat-raised-button color="primary" (click)="openDialog()">
    Open Dialog
  </button>
</fieldset>
<fieldset>
  <legend>Mat Table</legend>
  <table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
  </table>
</fieldset> -->
    <!-- <mat-tab-group>
      <mat-tab label="First">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eius cum voluptatem quaerat fugiat voluptatibus
        quam expedita dolorum vero maiores, dignissimos corporis officiis praesentium porro in rem provident ad
        repudiandae perferendis ipsam sed laboriosam dolor illum sit. Quidem id ducimus nihil, ea non aliquam enim eum
        explicabo nobis architecto! Pariatur labore id, deleniti eum, laboriosam laudantium necessitatibus dicta totam
        vel beatae enim odit aperiam quidem soluta nesciunt unde ratione dolores ipsum nulla voluptate, sequi debitis
        adipisci eaque. Alias error totam hic ipsam corporis doloremque, dolorem sunt nihil dolore quidem ducimus
        tempora autem expedita obcaecati deserunt facilis deleniti, doloribus rem ratione incidunt fugiat sed. Nulla
        incidunt ipsum laborum inventore nesciunt unde velit suscipit nisi deserunt iusto! Expedita nobis ullam odit
        nesciunt quibusdam illum adipisci error facilis quae fugit perferendis iure nulla, illo dignissimos optio
        pariatur explicabo aperiam, porro quod aut nemo! Veritatis, similique vel? Aperiam qui molestias blanditiis, aut
        maxime culpa quam expedita delectus quis laudantium sed atque neque tempora pariatur dignissimos similique ipsum
        temporibus facilis tempore, quo alias fugit laboriosam debitis repellendus. Fugiat quisquam amet numquam
        perferendis debitis vero temporibus corrupti dicta doloremque fugit, distinctio eos, eius in maiores nam unde?
        Ex cumque laudantium dolorum culpa mollitia illum, autem pariatur?
      </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group> -->

    <h3>Example 1</h3>
 
<!--  This is our template. template1 is the template reference variable holds the reference to the Template
  template1 is of type TemplateRef This won't be rendered here -->
 
  <ng-template [ngIf]="true">  
    <p>This is our template. It will be displayed on the div *ngTemplateOutlet="myTemplateRef"</p>
  </ng-template>
 
<ng-template #template1>  
  <p>This is our template. It will be displayed on the div *ngTemplateOutlet="myTemplateRef"</p>
</ng-template>
 
<p>The Template appears after this</p>
 
 
<!-- 
  We want to render the above template here.
  Hence we use the ngTemplateOutlet directive 
  Assign template1 to ngTemplateOutlet
-->
 
 
<!-- <ng-container *ngTemplateOutlet="template1">
  This text is not displayed
</ng-container> -->
<!-- 
  Use can use any element. 
  Here we use div instead of ng-container
  Div is not rendered 
-->
<!-- <div *ngTemplateOutlet="template1"></div> -->
<!-- <ng-template *ngTemplateOutlet="template1"> </ng-template> -->

</div>