

<!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div *cdkVirtualFor="let item of items" class="example-item">
    {{item}}
  </div>
</cdk-virtual-scroll-viewport> 

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.age}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
 -->

<!-- <c-search (searchChange)="search($event)" placeholder="Search"></c-search> -->
<!-- <c-search (searchChange)="searchFieldSub.next($event)" placeholder="Search Query"></c-search> -->

<!-- <div>
  <span>{{text}}</span>
</div> -->

<!-- <app-git></app-git> -->

<!-- <app-utils></app-utils> -->

<!-- <button (click)="callChildMethod()" >call child methode</button> -->
<!-- <app-utils></app-utils> -->
<!-- <app-rxjs (open)="openEvent($event)" (close)="closeEvent($event)" ></app-rxjs> -->
<!-- <app-error-display></app-error-display> -->
<!-- <app-drawer (closeDrawer)="onCloseDrawer()"></app-drawer> -->
<!-- <button mat-button (click)="toggleDrawer()">Toggle Drawer</button>
<app-drawer width="300px" position="end" [opened]="drawerOpened" (closed)="onDrawerClosed()">
  <p>This is drawer content</p>
</app-drawer> -->
<!-- <app-home></app-home> -->
<div>
  <lib-range-slider [minValue]="0" [maxValue]="100" [value]="33" [highValue]="66" [step]="1"
     color="primary" thumbLabel="true" tickInterval="0.1" step="0.1">
  </lib-range-slider>
</div>

<router-outlet />