spring:
  # Liquibase properties
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/dev-auth.changelog-master.xml
    contexts: "!test"
#    liquibase-schema: public
#    database-change-log-table: DATABASECHANGELOG
#    database-change-log-lock-table: DATABASECHANGELOGLOCK

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: my-group
      auto-offset-reset: earliest
    producer:
      retries: 3
      acks: all
      properties:
        linger.ms: 5
        enable.idempotence: true

  # Validate schema against hibernate models
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none #create | update | validate | none
#      naming.physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties.org.hibernate.envers.store_data_at_delete: true

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23li30OfNzzSRFzDHs
            client-secret: 41f772602859078e72fd41d4ccfd2b9aef93d750
            scope: read:user, user:email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            client-name: GitHub
          google:
            client-id: 190624024371-5rnr5nhn766nk7okgev8vp126oqpd96d.apps.googleusercontent.com
            client-secret: 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
            scope: profile, email
            redirect-uri: "https://f40d13f6fadf.ngrok-free.app/dev-auth-server/login/oauth2/code/google"
            authorization-grant-type: authorization_code
            client-name: Google
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo

  mail:
    host: smtp.gmail.com                 # Gmail SMTP server
    port: 587                            # TLS/STARTTLS port
    username: mrsinghvinay563@gmail.com # Gmail username
    password: acwovynbhuaahcls            # Gmail App Password (from env/secret)
    properties:
      mail.debug: false                   # Enable SMTP debug logs (for development)
      mail.smtp.auth: true               # Enable SMTP authentication
      mail.smtp.starttls.enable: true    # Enable STARTTLS for secure connection
      mail.smtp.connectiontimeout: 10000  # Max time (ms) to establish SMTP connection
      mail.smtp.timeout: 15000            # Max time (ms) to wait for SMTP response
      mail.smtp.writetimeout: 15000       # Max time (ms) to send message data
      mail.smtp.pool: true               # Enable SMTP connection pooling (reuse connections)
      mail.smtp.pool.size: 5             # Max concurrent connections in the pool


  redis:
    host: localhost
    port: 6379
    #    password: ${REDIS_PASSWORD:}    # use secrets manager / env var
    database: 100
    lettuce:
      pool:
        max-active: 20
        max-idle: 10
        min-idle: 2
  cache:
    type: redis

app:
  redis:
    key-prefix: dev-auth # isolates keys across services
    cache:
      default-ttl-minutes: 15   # default TTL if not overridden


server:
  port: 8000
  address: 0.0.0.0
  canonical.url: http://localhost:8000/dev-auth-server
  servlet.context-path: /dev-auth-server
  name: localhost

security:
  jwt:
    secret: mySecretKeyForJwtToken
    expiration: 3600000 # 1 hour in milliseconds

elastic:
  index:
    private: es_private_message_index
    group: es_group_message_index
    email: email_index

kafka:
  bootstrap-servers: localhost:9092


auth:
  rabbit:
    host: ${RABBIT_HOST:localhost}
    port: 5672
    username: guest
    password: guest
    virtual-host: public
    management-base-url: ${RABBIT_MANAGEMENT_BASE_URL:http://localhost:15672/api}
    management-user: guest
    management-password: guest
    publisher-confirms: true
    publisher-returns: true
    exchanges:
      - name: tenant.events.exchange
        type: topic
        durable: true

      - name: tenant.dataset.exchange
        type: direct
        durable: true


#logging:
#  level:
#    org.springframework.security.saml2: TRACE
#    org.springframework.security: TRACE
#    org.opensaml: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}   # tag metrics with service name
