.custom-snackbar {
    background-color: #ff5722; /* Custom background color */
    color: #fff; /* Custom text color */
    font-size: 16px; /* Custom font size */
    border-radius: 8px; /* Custom border radius */
    /* Add any additional custom styles */
  }